*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
#banner{
    background-image: url(../img/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner {
    font-family: 'Varela Round', sans-serif;
}
#banner .button{
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #64a19d;
    color: white;
    border: none;
    margin-top: 20px;
}
#banner h1{
    color: #FFFFFFBF;
}